/* width */

::-webkit-scrollbar {
  width: 10px;
}

/* Track */

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px grey;
  border-radius: 10px;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: grey;
}

@font-face{
  font-family:Pangea;

  font-style:normal;

  font-weight:400;

  src:url('/fonts/Pangea-Regular.otf');

  font-display:swap
}

@font-face{
  font-family:Pangea;

  font-style:normal;

  font-weight:500;

  src:url('/fonts/Pangea-SemiBold.otf');

  font-display:swap
}

